:root {
	--yellow: #f4d04e;
	--gray-dark: #111111;
	--gray-light: #6b6b6b;
	--white: #ffffff;

	--fs-base: clamp(0.8125rem, 0.75rem + 0.5vw, 0.875rem);
	--fs-title: clamp(1.25rem, 1.15rem + 0.5vw, 1.5rem);
	--fs-description: clamp(0.9rem, 0.85rem + 0.5vw, 1rem);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Figtree', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 68, 5%;
	background-color: var(--yellow);
}

.preview-card-container {
	margin: 0 20px;
	max-width: 384px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	border: 1px solid var(--gray-dark);
	background-color: var(--white);
	box-shadow: 8px 8px var(--gray-dark);
}

.preview-card-img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.preview-card-text {
	margin: 24px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.preview-card-category {
	padding: 4px 12px;
	line-height: 150%;
	font-weight: bold;
	border-radius: 4px;
	background-color: var(--yellow);
	color: var(--gray-dark);
	font-size: var(--fs-base);
}

.preview-card-title {
	font-weight: 800;
	font-size: var(--fs-title);
	color: var(--gray-dark);
	line-height: 150%;
	transition: color 0.3s;
}

.preview-card-title:hover {
	color: var(--yellow);
}

.preview-card-description {
	font-weight: 500;
	font-size: var(--fs-description);
	color: var(--gray-light);
	line-height: 150%;
}

.preview-card-person {
	display: flex;
	align-items: center;
	gap: 12px;
}

.person-img {
	width: 32px;
	height: auto;
}

.preview-card-name {
	font-weight: 800;
	font-size: var(--fs-name);
	color: var(--gray-dark);
}
